@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import 'tailwindcss'; */
/* Use @source followed by string to add another source */
@layer theme, base, components, utilities;

/* ========================================================================

======================================================================== */

@import 'tailwindcss/theme' layer(theme);
@theme {
  --body-color: rgb(237, 242, 249);

  /* Used by MainLayout & Menu */
  --dark-body-color: var(--color-slate-900);
  /* Used by MainLayout */
  --dark-text-color: #fff;
  /* Used by Card (border), Tooltip (border), etc. */

  --dark-primary-color: var(--color-cyan-400);
  --dark-nav-link-hover-color: var(--color-pink-500);
  /* Used by Card, Tooltip, etc. 
  This is lighter than --dark-body-color.
  It's used to accentuate Card backgrounds, etc.
  */

  --dark-bg-color: var(--color-slate-800);
  /* Used by Card */
  --dark-shadow-color: var(--color-neutral-950);
}

/* ========================================================================

======================================================================== */

@import 'tailwindcss/preflight' layer(base);
@layer base {
}

/* ========================================================================

======================================================================== */

/* The @layer components is provided as a place for you to add your own component classes */
@layer components {
}

/* ========================================================================

======================================================================== */

@import 'tailwindcss/utilities' layer(utilities);

/* To add a custom utility in v4.0, use the new @utility directive: 
@utility your-class-name {
}
*/

/* ========================================================================
                                  Plugins
======================================================================== */
/* 
https://tailwindcss.com/docs/v4-beta#using-plugins
To load a plugin in v4.0, use the the new @plugin directive.
The @plugin directive takes either a package name or a local path.
*/

/* @plugin "../../tw-plugins/basePlugin.ts"; */

/* ========================================================================
                           Dark Mode
======================================================================== */

@variant dark (&:where(.dark, .dark *));

/* ========================================================================
                          tailwind.config.ts
======================================================================== */
/* This is necessary because the library connects through a javascript object. */

@config "../../tailwind.config.ts";
