.dc-square {
  outline: 5px dashed #333;
  color: #fff;
  /* display: flex; */
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  height: 250px;
  width: 250px;
  /* background-color: #15c213; */
  background-color: #50bfe6;
}
